# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-amd64-linux:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Build
      run: make build
      
    - name: Upload olympic as aftifact
      uses: actions/upload-artifact@v4
      with:
        name: olympic-amd64-linux
        path: olympic


  build-arm64-linux:
    runs-on: ubuntu-24.04-arm
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Build
      run: make build

    - name: Upload olympic as aftifact
      uses: actions/upload-artifact@v4
      with:
        name: olympic-arm64-linux
        path: olympic
